<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ciandt.helio.worldwonders.ui.activity" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseThemeMaterial" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".MasterDetailActivity"
            android:label="@string/title_activity_masterDetail" >
        </activity>

        <provider
            android:authorities="br.com.ciandt.helio.worldwonders"
            android:name="br.com.ciandt.helio.worldwonders.database.provider.WorldWondersContentProvider"
            android:exported="false">
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="05615fb7962667418d515e420f11c75341320427" />
    </application>

</manifest>
